.aromat {
  margin-bottom: 100px;
}

.aromat__title {
  margin-bottom: 18px;
}

.aromat__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.aromat__item {
  padding-top: 50px;
  width: 21.8%;
}

.aromat__info {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.aromat__info {
  position: relative;
  transition: 0.2s linear all;
}

.aromat__info-image {
  position: absolute;
  left: 200px;
  top: 12px;
  transition: linear 0.2s all;
  cursor: pointer;
}

.aromat__info:hover .aromat__info-image{
  left: 75%;
  transition: linear 0.2s all;
}

.aromat__info:hover{
  transition: 0.2s linear all;
  background-color: rgb(182, 243, 121);
}

.aromat__info-text {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  color: black;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.aromat__more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  margin-top: 48px;
  width: 21.8%;
  cursor: pointer;
}

.aromat__more p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
}