.collection {
  display: flex;
  border: 2px solid black;
  margin-bottom: 50px;
}

.coltitle {
  font-family: 'Prata';
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 0.05em;

  margin-bottom: 65px;
}

.collection__params {
  margin-left: 37px;
}

.collection__params h3 {
  margin-top: 30px;

  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.05em;
}

.collection__params h4 {
  font-family: 'Prata';
  font-size: 23px;
  line-height: 31px;
  letter-spacing: 0.05em;

  margin: 17px 0;
}

.t1 {
  margin: 15px 0;
}

.t2 {
  margin: 9px 0;
}

.collection__params_colors {
  display: flex;

  margin-top: 15px;
}

.color {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  margin-right: 22px;
}

.color:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: 2px solid #A9A6A6;
}

.one {
  background-color: #F2C38C;
}
.two {
  background-color: #F39696;
}
.three {
  background-color: #B8E282;
}
.four {
  background-color: #E6AFEF;
}
.five {
  background-color: #7EC6FB;
}
.six {
  background-color: #F9EBBA;
}

.collection__params select {
  width: 263px;
}

.collection__params_price {
  margin: 33px 0 48px 0;

  font-family: 'Roboto';
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.05em;
}

.collection__params_color {
  margin: 15px 0;

  font-family: 'Montserrat';
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.collection__params_description {
  font-family: 'Montserrat';
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.05em;
}

.collection__params a {
  padding: 15px 142px;

  text-decoration: none;
  color: #000;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;

  letter-spacing: 0.05em;

  border: 2px solid black;
}

.collectionCards__items {
  display: flex;
  justify-content: space-between;

  padding-bottom: 150px;
}

.collectionCards__item {
  border: 1px solid black;
}

.collectionCards__image {
  padding: 23px 23px 14px 23px;
}

.collectionCards__collectionName {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  padding: 0 0 14px 23px;
}

.collectionCards__item {
  width: 23%;
}

.collectionCards__taste {
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 15px;

  letter-spacing: 0.05em;

  padding: 0 0 28px 23px;
}

.collectionCards__item:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.collectionCards__more {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
}