.header_main {
  display: flex;
  justify-content: space-between;

  margin: 90px auto;

  width: 1100px;
}

.main__info {
  display: flex;
  flex-direction: column;
}

.main__info h1 {
  font-family: 'Prata';
  font-weight: 400;
  font-size: 45px;
  line-height: 61px;
  letter-spacing: 0.05em;

  padding: 30px 0;
}

.main__info img {
  width: 96%;
}

.main__info a {
  width: 350px;
  height: 46px;

  border: 2px solid #060606;

  margin: 45px 95px 77px 95px;

  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  color: #000;
  padding-top: 10px;
}