@import url(navigation.css);
@import url(header_main.css);
@import url(collection.css);
@import url(aromat.css);
@import url(form.css);
@import url(footer.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1130px;
  margin: 0 auto;
  padding: 0 10px;
}

.nav {
  padding: 0 10px;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Prata', serif;
font-family: 'Roboto', sans-serif; */ 