@import url(navigation.css);
@import url(header_main.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Prata', serif;
font-family: 'Roboto', sans-serif; */ 